node_modules
.env
.env-test
chromedriver.exe
result.js
coverage
Thumbs.db
ehthumbs.db
Desktop.ini
*.log
*.gz
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
